@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:  'Montserrat', sans-serif;
}

.nav-section{
   background-color:  #503291;
   line-height: 1px;
   font-size: 12px;
}

.navbar{
    line-height: 1px;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-item{
  font-size: 16px;
  font-weight: 500;
}

.btn{
    background-color:  #503291;
    color: white;
}

@media(max-width:768px){
    nav ul{
        /* display: block; */
        flex-direction: column;
    }

    nav ul li {
        display: block;
    }

    nav ul li ul{
        width: 100%;
        z-index: 1;
    }

    .featureU{
        flex-direction: column;
        
    }

} 
#header{
    background-image: url("img/banner.png"); 
    /* background-color: #cccccc; */
    height: 300px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    margin-top: -5rem;
    margin-bottom: 5rem;
    
}

@media (max-width:400px) {
    .Enterpriseimg{
      width: 10px;
      height: auto;
    }
}


.headerR{
padding: 5rem;
}

#body{
    text-align: center;
 
    /* margin: 5rem; */
    /* margin-top: -8rem; */
}
.sectioncate{
    display: flex;
    justify-content: space-between;
}

.category{
    background: #F8F8F8;
    /* margin-left: 0.1rem; */
}

.Heading{
    color: #503291;
    font-weight:600 ;
    font-size:31px ;
}

.cateimg{
    width: 600px;
    height: 400px;
}

.categories{
    font-weight:500 ;
    font-size: 16px;
}

.digitalH{
    font-weight:400 ;
    font-size: 16px;
}

.categories:hover{
    background-color: #503291;
    color: #ffff;
    border-radius: 5px;
    padding: 5px 0px 5px 10px;
}

.partners{
    margin-top: 5rem;
}

.items{
    background: #f2f4f8;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}


.item > img{
    display: flex;
    justify-content: space-between;
    height: 15rem;
    width: auto;
    object-fit: cover;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

 .item > img:hover{
    transform: translateY(-15px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
}

.client{
    
    background: #f2f4f8;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}


.clnt > .img2{
    margin: 0.2rem 0.8rem;
    display: flex;
    justify-content: space-between;
    height: 10rem;
    width: auto;
    object-fit: cover;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

 .clnt > .img2:hover{
    transform: translateY(-15px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
}


#testimonials{
    margin: 100px 0;
}

.testimonials{
padding: 1rem;   
 border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #f2f4f8;
    border-radius: 10px;

}

.testimo{
    display: flex;
    justify-content: space-between;
}

.globe{
    display: flex;
    background: #503291;
    border-radius: 10px;
    padding: 30px 0 5px 0;
    color: #FFFF;
}

/* .mobile{
 
    transform: rotate(-35deg);
    transform-origin: 90% 60%;
  } */


.list{
    display: flex;
    justify-content: space-around;
}

.globeB{
    display: flex;
    justify-content:space-evenly
}

.contain{
    margin: 5rem;
    background:#DCDCDC;
    border-radius: 10px;
    padding: 5rem;
}

.btn2{
    width: 20%;
    height: auto;
    margin-left: 5rem;
    background-color:  #503291;
    color: white;
    border-radius: 5px;
}

.vertical{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: 500;
    font-size: 16px;
    margin-left: 7.4rem;
   }

   .vl {
    border-left: 1px solid black;
    height: 250px;
    /* height: 500px;
    left: 1rem; */
  }

  
  .v2 {
    border-left: 1px solid black;
    margin-left: -14rem;
    height: 250px;

    /* height: 500px;
    left: 1rem; */
  }

  .v3 {
    border-left: 1px solid black;
    margin-left: -14rem;
    height: 250px;

    /* height: 500px;
    left: 1rem; */
  }

  .verticaltext{
      margin-left: 10rem;
  }
  
  
